@import '~vuetify/src/stylus/settings/_variables'
 
$body-font-family = 'Montserrat'
$material-light.background = #fafbff
 
$theme = {
  toolbar: {
    background: white
  },
  navigation-drawer: {
    background: #0747a5
  }
}

@import '~vuetify/src/stylus/main'

@import '../main.css'
@import '../fluid.css'
@import './__common.styl'

.resource-card {
  box-shadow: none !important;
  border: 2px solid #f1f1f1 !important;
}

.v-btn {
    box-shadow: none !important;
}

.theme--light.v-table tbody tr:not(:last-child), .theme--light.v-table thead tr:first-child {
  border-bottom: 2px solid #f1f1f1 !important;
}

.theme--light.v-datatable .v-datatable__actions {
  border-top: 2px solid #f1f1f1 !important;
}

.v-navigation-drawer .v-list__tile--active {
  background: #083c8c;
}

.v-navigation-drawer .v-list__tile__content, .v-navigation-drawer .v-list__tile__action {
  color: white
}

.v-messages__message {
  line-height: 1.3;
}

.nav-search {
  margin-top: 3px
}

.v-toolbar {
  border-bottom: 1px solid #f1f1f1 !important;
  box-shadow: 1px 2px 4px 0 rgba(0,0,0,.03) !important;
}

.v-input--selection-controls:not(.v-input--hide-details) .v-input__slot {
  margin: 0;
}

.v-autocomplete__content.v-menu__content {
  border: 2px solid #efefef;
  box-shadow: none;
}

.nav-search > .v-input__control {
  min-height: 63px !important;
}

.show-tabs .v-tabs__wrapper {
  border: 2px solid #efefef;
  border-bottom: none;
}

.theme--dark.v-navigation-drawer .v-divider {
  display: none
}