@import '~vuetify/src/stylus/settings/_variables'
 
$body-font-family = 'Montserrat'
$material-light.background = #fafbff

$theme = {
  toolbar: {
    background: #fafbff
  },
  navigation-drawer: {
    background: white
  }
}

// $material-light.theme.primary = #ffc247
 
@import '~vuetify/src/stylus/main'

@import '../main.css'
@import '../fluid.css'
@import './__common.styl'

.resource-card {
  box-shadow: 0 0 40px #f0f3ff;
}

.v-btn {
    box-shadow: none !important;
}

.toolbar.v-toolbar {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border-bottom: none !important;
}

.theme--light.v-table tbody tr:not(:last-child), .theme--light.v-table thead tr:first-child {
  border-bottom: 2px solid #f1f1f1 !important;
}

.theme--light.v-datatable .v-datatable__actions {
  border-top: 2px solid #f1f1f1 !important;
}

.v-messages__message {
  line-height: 1.3;
}

.nav-search {
  margin-top: 3px
}

.v-input--selection-controls:not(.v-input--hide-details) .v-input__slot {
  margin: 0;
}

.v-autocomplete__content.v-menu__content {
  border: 2px solid #efefef;
  box-shadow: none;
}

.v-navigation-drawer--mini-variant .v-list__tile__action, .v-navigation-drawer--mini-variant .v-list__tile__avatar {
  min-width: 24px;
}

.theme--light.v-btn {
  color: rgba(0,0,0,0.56);
}

.v-navigation-drawer {
  border-right: none !important
}

.v-navigation-drawer[data-booted="true"] {
    -webkit-transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.v-navigation-drawer__border {
  display: none
}

.v-list__tile__title {
  font-weight: 100
}